* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  background: #232323;;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
}

header {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  align-items: center;
  margin: auto auto;
}

input {
  height: 70px;
  font-size: 2rem;
  width: 80%;
  padding-left: 5%;
  background: rgb(177, 177, 177);
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button.add {
  width: 20%;
  cursor: pointer;
  background: rgb(1, 168, 1);
  color: white;
  font-weight: bold;
  border: none;
  height: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto auto;
  /* border: 1px solid blue; */
  padding-top:30px;
}

.item {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: rgb(27, 26, 26);
  height: 50px;
  width: 100%;
  box-shadow: 0 0 20px #434343;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
}

.item.clicado {
  background: #232323;
}

.item.clicado .item-nome {
  text-decoration: line-through;
  color: rgb(82, 82, 82);
}

.item-icone {
  flex: 15%;
  /* border: 1px solid orangered; */
  text-align: center;
  font-size: 1.5rem;
  color: rgb(82, 158, 251);
}

.item-nome {
  flex: 75%;
  /* border: 1px solid deeppink; */
  font-size: 16px;
  font-weight: bold;
  color: rgb(82, 158, 251);
}

.item-botao {
  flex: 10%;
  /* border: 1px solid green; */
}

.delete {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background: rgb(203, 1, 1);
  color: white;
  border: none;
  padding: 10px;
  height: 50px;
  width: 100%;
}

.mdi-check-circle {
  color: green;
}